<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>A collection of golf balls</h2>
    <img ng-src="img/golfballs0.jpg" style="width: 270px; height: 203px">
    <img ng-src="img/golfballs1.jpg" style="width: 270px; height: 203px">
    <p>
        This is a sample app built for a Tools for Apache Cordova Leap Year demo hosted on our dev blog, <a href='http://microsoft.github.io/vstacoblog/2016/02/15/leap-year.html'>which you can view here</a>. Refer to the blog post for all documentation, questions and dialogue. 
    </p>
    <p>
        All the information displayed on this app is informed by <a href="http://www.golfforallages.com/index.html">Golf for All Ages</a>, a website that advertises antique golf paraphernalia.
    </p>
  </ion-content>
</ion-view>
